<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Foreign Earned Income Exclusion Calculator</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body>
<header>
    <div class="banner"></div>
    <h1>Foreign Earned Income Exclusion Calculator</h1>
</header>
<main>
    <div class="form-container">
<!--    TODO: Make year here variable to current year (or something) -->
        <h2>Enter your earned income for the 2024 tax year</h2>
        <form th:action="@{/form}" th:object="${incomeForm}" method="post">
            <div class="form-group">
                <label for="income">Income:</label>
                <input type="text" id="income" income="income" th:field="*{income}" />
                <span class="error" th:if="${#fields.hasErrors('income')}" th:errors="*{income}">income is required</span>
            </div>
            <button type="submit">Submit</button>
        </form>

        <div th:if="${submitted}">
            <h2>Form submitted successfully!</h2>
            <p><strong>Income:</strong> <span th:text="${incomeForm.income}"></span></p>
        </div>

</main>
</body>
</html>